Source: ros-hydro-jsk-robot-startup
Section: misc
Priority: extra
Maintainer: inagaki <inagaki@todo.todo>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-diagnostic-msgs, ros-hydro-mongodb-store, ros-hydro-pr2-mechanism-controllers, ros-hydro-roscpp, ros-hydro-roseus, ros-hydro-rospy, ros-hydro-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-jsk-robot-startup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-mongodb-store, ros-hydro-roscpp, ros-hydro-rospy
Description: The jsk_robot_startup package
